.boton {
  background-color: purple;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.boton:hover {
  background-color: #6c63ff;
}
.footer-section {
  margin-bottom: 20px; 
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section li {
  margin-bottom: 10px;
}

.footer-social-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-social-icons img {
  margin-bottom: 10px; 
}

.footer-social-icons .boton {
  margin-top: 10px; 
}

/*estilos de NuestrosClientes */
.team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #d8bbf7; /* Fondo claro */
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.team-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.grid-container {
  display: grid;
  gap: 20px;
  padding: 20px;
  justify-items: center; 
}
@media (min-width: 1024px) {
  .grid-container {
      grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .grid-container {
      grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .grid-container {
      grid-template-columns: 1fr;
  }
}
@tailwind base;
@tailwind components;
@tailwind utilities;
